.card {
  border-radius: 8px;
  border: 1px solid #7a7a7a;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #fafafa;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: #2f2f2f;
  }
}
