.title-generator--creator {
  grid-template-columns: 2fr 1fr;
}

.title-generator--output {
  textarea {
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 8px;
    background-color: white;
    color: #2b2b2b;
  }
}
